* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
/* ** That file is now going to allow us to use these variables everywhere else in our code** */
body {
  background:var(--color-bg); 
}